#services1{
    margin-left: 40px;
    padding-top: 10px;
    padding-left: 90px;
    height: 176;
    width: 350px;
}

#services1 #design{
    margin-left: 50px;
    padding-top: 40px;
}

#services2{ 
    margin: 50px;
    padding-top: 10px;
    padding-left: 90px;
}

#services2 #dev{
    padding-top: 55px;
    padding-left: 55px;
}

#services3{
    margin: 40px;
    padding-top: 10px;
    padding-left: 90px;
}
#services3#